.savedRecipeCard {
    display: flex;
    justify-content: space-around;
    margin: 50px;
    padding: 100px;
    font-weight: bolder;
    font-family: Verdana, Geneva, sans-serif;
    border: 3px solid rgb(68, 64, 64);
    background-color: transparent;
    background-image: radial-gradient(100% 100% at 100% 0,
            #866B61 0,
            #C06D1F 100%);
    height: 300px;
    width: 280px;
    align-items: center;
    box-shadow: 12px 13px 7px -1px rgba(89, 72, 72, 0.6);
    -webkit-box-shadow: 12px 13px 7px -1px rgba(89, 72, 72, 0.6);
    -moz-box-shadow: 12px 13px 7px -1px rgba(89, 72, 72, 0.6);
}

.removeSavedCard {
    width: fit-content;
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0,
            #d73838 0,
            #bd5019 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
        rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow 0.15s, transform 0.15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
    font-weight: bold;
}

.removeSavedCard:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
        rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #2d1111 0 -3px 0 inset;
    transform: translateY(-2px);
}

.accordionBox {
    background-color: transparent;
    padding: 10px;
}

.accordion-body {
    background-color: #3a506f;
}

.accordion-button {
    background-image: radial-gradient(100% 100% at 100% 0,
            #C06D1F 0,
            #814827 100%);
    color: antiquewhite;
    font-weight: bolder;

}

.accordion-button:not(.collapsed) {
    color: antiquewhite;
    font-weight: bolder;

}