.main {
  display: flex;
  /* background-image: url("../img/background.jpg"); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* overflow: auto; */
  width: 100%;
  height: 100vh;
  padding: 40vh;
  max-width: 2000px;
}

.main-content {
  display: flex;
  flex-direction: column;
  margin-top: -14rem;
  margin-left: -20rem;
  float: left;
}

.main-content-text {
  max-width: 40vw;
  background-color: rgba(0, 0, 0, 0.598);
  color: rgb(255, 247, 236);
  padding: 1rem;
  border-radius: 20px;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  font-size:25px;
  font-weight: bold;
}


.button {
  width: fit-content;
  align-items: center;
  appearance: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #C06D1F 0,
    #814827 100%
  );
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 22px;
  font-weight: bolder;
}

.button:focus {
  box-shadow: #ac6b32 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #7e2c2d 0 -3px 0 inset;
}

.button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #a46a0c 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button:active {
  box-shadow: #8d542e 0 3px 7px inset;
  transform: translateY(2px);
}