.myCookbookBackground{
  background-color: transparent;
  /* background-image: linear-gradient(rgb(59, 76, 100), rgb(134, 107, 97), rgb(251, 245, 237)); */
  height: 100%;
}

.savedRecipeCard{
  margin-left: -1rem;
  width: 17rem;
  height: min-content;
}

.row{
  margin: 0.5rem;
}